body{
    font-family: "Arial","SansSerif";
    background-color: #ccc;
}

nav{
    background-color: #000;
    padding: 10px;
}

nav a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    border-right: 2px solid;
    padding-right: 15px;
    padding-left: 10px;
}

.wrapper{
    width: 1000px;
    margin: auto;
    background-color: #fff;
}

article{
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-top: 30px;
    margin-left: 1%;
}

table{
    width: 48%;
    border-collapse: collapse;
    border: 1px solid;
    margin-top: 30px;
    margin-right: 1%;
}

td{
    border: 1px solid;
    padding: 15px;
}