* {
    box-sizing: border-box;
}

div#wrapper {
    margin: auto;
    width: 1000px;
    background-color: rgb(251, 235, 235);
    padding: 20px;
}

body {
    font-family: Arial;
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

section.appel, section.visuals {
    width: 50%;
    float: left;
}

section.visuals {
    text-align: right;
}

img.appel {
    width: 492px;
}

img.visuals {
    width: 447px;
    margin-bottom: 11px;
}

article {
    display: inline-block;
    width: 33%;
    padding-right: 10px;
    vertical-align: top;
}

article:last-child {
    padding-right: 0px;
}